# For detailed explanation of how these config files should be used and created please see the developer guide here:
#  http://docs.amazonwebservices.com/AWSToolkitVS/latest/UserGuide/tkv-deployment-tool.html

# Edit the parameter line below to set the path to the deployment archive or use
#     /DDeploymentPackage=value
# on the awsdeploy.exe command line for more flexibility.
# DeploymentPackage = <-- path to web deployment archive -->

# Profile name is used to look up AWS access key and secret key
# from either the SDK credentials store, or the credentials file found at
# <userhome-directroy>\.aws\credentials. Alternatively the access key and 
# secret key can be set using the command line parameters /DAWSAccessKey and /DAWSSecretKey.
AWSProfileName = movolytics
KeyPair = play-centos
Region = eu-west-1
SolutionStack = 64bit Windows Server 2012 R2 v1.2.0 running IIS 8.5
Template = ElasticBeanstalk
UploadBucket = elasticbeanstalk-eu-west-1-771320127819

Application.Name = Movolytics

aws:autoscaling:launchconfiguration.EC2KeyName = play-centos
aws:autoscaling:launchconfiguration.IamInstanceProfile = aws-elasticbeanstalk-ec2-role
aws:autoscaling:launchconfiguration.InstanceType = t2.micro
aws:autoscaling:launchconfiguration.SecurityGroups = sg-47741621

aws:ec2:vpc.Subnets = subnet-6a28080e
aws:ec2:vpc.VPCId = vpc-1fa8fd7b

aws:elasticbeanstalk:container:dotnet:apppool.Enable 32-bit Applications = False

aws:elasticbeanstalk:environment.EnvironmentType = SingleInstance
aws:elasticbeanstalk:environment.ServiceRole = aws-elasticbeanstalk-service-role

Container.ApplicationHealthcheckPath = /
Container.Enable32BitApplications = False
Container.InstanceType = t2.micro
Container.TargetRuntime = netcoreapp1.1

Environment.CNAME = movolytics-dev
Environment.Name = Movolytics-dev

