@using Movolytics.Models
@model IEnumerable<Customer>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Joined on</th>
        </tr>
    </thead>
    @foreach (var customer in Model)
            {
        <tr>
            <td>@customer.CustomerName</td>
            <td>@customer.CustomerAddress</td>
            <td>@customer.JoiningDate</td>
        </tr>
    }
</table>