
@{
    ViewData["Title"] = "Recent customers report";
}

@section Scripts
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/js/app-movolytics.js"></script>
    <script src="~/js/customerController.js"></script>
}


<h1>Recent customers report</h1>

<div ng-app="app-movolytics">
    <div ng-controller="customerController as vm">

        <form novalidate class="form-inline" name="showCustomers" ng-submit="vm.showCustomers()">
            <p>
                Customers who joined after 15 Feb 2016
                <button type="submit" class="btn btn-primary">Show</button>
            </p>
        </form>

        <div id="results">
            <img id="loading-results" class="processing-pane" ng-show="vm.showLoading" src="~/images/preloader_blue_512.gif" width="50" height="50" />

            <table class="table table-striped">
                <tr ng-repeat="c in vm.customers">
                    <td>{{ c.customerName }}</td>
                    <td>{{ c.customerAddress }}</td>
                    <td>{{ c.joiningDate | date:'dd MMM yyyy'}}</td>
                </tr>
            </table>
        </div>

    </div>
</div>
