
@{
    ViewData["Title"] = "Recent customers report";
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            EndLoading();
        });

        function BeginLoading() {
            $(".processing-pane").show();
        }

        function EndLoading() {
            $(".processing-pane").hide();
        }

    </script>

}


<h1>Recent customers report</h1>

<form class="form-inline" asp-controller="Home" asp-action="GetCustomersJoiningAfter" data-ajax="true" data-ajax-method="POST" data-ajax-update="#results" 
      data-ajax-begin="BeginLoading" data-ajax-complete="EndLoading" data-ajax-error="EndLoading">
    <p>Customers who joined after 15 Feb 2016
    <button type="submit" class="btn btn-primary">Show</button>
    </p>
</form>

<div id="results">
    <img id="loading-results" class="processing-pane" hidden src="~/images/preloader_blue_512.gif" width="50" height="50" />
</div>
